body{
    
    background-color: black;
    text-align: center;
    
}

h1, h2, h3, h4, h5, a{
    
    font-family: 'Helvetica', sans-serif;
}

.navbar{

    background-color: transparent;
    
}

.navbar a{
    color: white;
}

.navbar li a:hover{
    
    background-color: transparent;
    color: white;
}

.button span{
    
    color: white;;
}

.header{
    
    background-color: black;
    height: 100%;
}

.logo{
    padding-top: 12.5%;
    height: 75%;
}

/*Mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

    .logo{
        padding-top: 25%;
        height: 33%;
    }
    
}
